[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "plugins/zsh-tmux"]
	path = plugins/zsh-tmux
	url = https://github.com/zpm-zsh/tmux
[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "plugins/fzf-tab-completion"]
	path = plugins/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
