[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-vi-mode"]
	path = plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "plugins/zsh-autocomplete"]
	path = plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "plugins/zsh-tmux"]
	path = plugins/zsh-tmux
	url = https://github.com/zpm-zsh/tmux
